<h1 align=center><i>User List</i></h1>

<table align=center border=1 cellspacing=0 bordercolor=#6699CC>
  <tr>
    <th bgcolor=#3399FF>Name</th>
    <th bgcolor=#3399FF>Language</th>
    <th bgcolor=#3399FF>Show</th>
    <th bgcolor=#3399FF>Edit</th>
    <th bgcolor=#3399FF>Destroy</th>
  </tr>

<% @ms_users.each do |ms_user| %>
  <tr>
    <td><%= ms_user.name %></td>
    <td><%= ms_user.language %></td>
    <td><%= link_to 'Show', ms_user %></td>
    <td><%= link_to 'Edit', edit_ms_user_path(ms_user) %></td>
    <td><%= link_to 'Destroy', ms_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
