<h1>Member List</h1>

<% unless @ms_users.length == 0 %>
<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Language</th>
    <th>Mailaddress</th>
  </tr>

<% @ms_users.each do |ms_user| %>
  <tr>
    <td><%= ms_user.id %></td>
    <td><%= ms_user.name %></td>
    <td><%= ms_user.language %></td>
    <td><%= ms_user.mailaddress %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'Add New Member', new_ms_user_path %>
