<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ms_user.name %>
</p>

<p>
  <b>Language:</b>
  <%= @ms_user.language %>
</p>


<%= link_to 'Edit', edit_ms_user_path(@ms_user) %> |
<%= link_to 'Back', ms_users_path %>
